<!DOCTYPE html>
<html>
  <head>
    <title>Sci-Fi Tale</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Here is your story:</h1>

      <p>
        In a land very far away, @Model.Noun stood against the back lit sky. A
        @Model.Adjective ball of fire was hurdling towards the planet, but
        @Model.Noun2 didn't seem to mind. Meanwhile, @Model.Noun3
        @Model.PastTenseVerb away.
      </p>
      <a href="/">
        <button>Restart</button>
      </a>
    </div>
  </body>
</html>
